[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

package-name = pysv.policy

parts += omelette
    test
    i18ndude
    i18nize-policy

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    pysv.policy [test]
defaults = ['-s', '${buildout:package-name}']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
 

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude


[i18nize-policy]
recipe = collective.recipe.template
input = ${buildout:directory}/i18nize.in
output = ${buildout:bin-directory}/i18nize-policy
mode = 775
dollar = $
domain = pysv.policy
packagepath = ${buildout:directory}/src/pysv/policy
languages = de en
