/* Anpassung von Überschrift Größe um RST besser abzubilden *
* , nicht final # acsr 20121109_17-39-49*/

h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.9em;
}

/* uncomment the below selector to get a fixed-width layout. *
 * 60em is equivalent to 960px in this case, and every       *
 * grid cell will be 40px with 10px padding.                 */

#visual-portal-wrapper { width: 60em; margin: 0 auto; } 

/* Anpassung von Abständen die in Chrome zu knapp ausfallen, *
*  nicht final # acsr 20121216_19-54-42*/

#content ul,
#content ol,
#content dl {
   margin-bottom: 1em;
}

#content .documentDescription, #content #description {
    margin-bottom: 1em;
    line-height: 1.4em;
}

#plone-document-byline.documentByLine {
    margin-bottom: 1em;
}

body.template-folder_full_view div.description {
margin-bottom: 1em;
}



/* Navigation */
#portal-globalnav {
    background: none repeat scroll 0 0 #3877b4;
    font-size: 100%;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    padding-left: 0.5em;
}
#portal-globalnav li {
    text-align: center;
}
#portal-globalnav li:first-child {
    margin-right: 0.5em;
}
#portal-globalnav li a {
    background: none repeat scroll 0 0 #3877b4;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.8em 0.5em 0.8em;
}
#portal-globalnav .selected a, 
#portal-globalnav .selected a:hover, 
#portal-globalnav a:hover {
    background: none repeat scroll 0 0 #3877b4;
    color: #FFE873;
}
dl.portlet dt {
    background: none repeat scroll 0 0 #3877b4;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
}
dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:hover {
   color: white;
}



/* Banner */
#portal-banner {
	width: 695px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 1em;
	}

.scrollable {
	position: relative;
	overflow: hidden;
	width: 695px;
	height: 200px;
	}

.scrollable .items {
	width: 20000em;
	position: absolute;
	}

#ablteaser { margin-bottom: 1em; }

.items .teaser {
    float: left;
    margin-bottom: 1em;
    }

.teaser {
	width: 695px;
	height: 200px;
	}

.teaserImage {
    position: absolute;
}

.teaserImage img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.teaserText-black,
.teaserText-white,
.teaserText-blue,
.teaserText-darkgrey,
.teaserText-lightgrey {
	position: relative;
	padding: 1em;
	}

.teaserTitle {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.5em;
	}

.teaserDescription {
	font-weight: bold;
	width: 425px;
	margin-bottom: 0.5em;
	}

.teaserText-black,
.teaserText-black a { color: #000 !important; }

.teaserText-white,
.teaserText-white a { color: #fff !important; }

.teaserText-blue,
.teaserText-blue a { color: #205C90 !important; }

.teaserText-darkgrey,
.teaserText-darkgrey a { color: #666 !important; }

.teaserText-lightgrey,
.teaserText-lightgrey a { color: #ddd !important; }

.teaserLink a,
.teaserLink a:visited {
	border: none !important;
	text-decoration: underline !important;
	}

.teaserLink a:hover { text-decoration: none !important; }
