#page-wrapper {
    background-color: white;
    border: none;
    box-shadow: none;
}
#portal-logo {
    height: 84px;
}
#portal-topactions a {
    color: white;
}
#bottom-actions {
    display: none;
}
#container {
    padding-top: 1px;
}
#footer {
    background-color: #666568; /* same gray as in logo */

}
#ftw-footer div.portletWrapper {
    padding: 1em 0;
}
#portal-searchbox #searchGadget {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #757575;
    border-radius: 3px;
}

#page-wrapper {
    a[target="_blank"]:before,
    #portal-topactions ul a[target="_blank"]:before,
    span.link-external a:before,
    a.external-link:before  {
        content:"";
    }
}
dl.portletEvents dd.portletItem {
    padding-bottom: 1em;
}
div.tileImage {
    float: right;
}
#column-navigation div.portletWrapper {
    background-color: #F4F4F1;
    margin-bottom: 1em;
    padding: 1em;
}
@media screen and (max-width: 320px) {
    #portal-logo {
        height: 42px;
    }
}

/* calender font color */
#content {
    #calendar  {
        .fc-content {
            a:link,
            a:hover,
            a:visited {
                color:#FFFFFF !important;
            }
        }
    }
}

/* ftw.slider fleft*/
#slider-wrapper {
    max-width: 1164px;
    #slider-panes {
        div.sliderPane {
            max-width: 1164px;
        }
    }
}


/* simplelayout fixes */
.simplelayout-content {
    .twocolumn.left    {
        padding-right: 5px;
    }
    .twocolumn.right {
        padding-left: 5px;
    }
}

body.portaltype-contentpage {
    #content {
        .documentFirstHeading,
        .documentByLine {
            display: none;
        }
    }
}